.local/
.local/*
.local/share/
.local/share/*
.local/share/CMakeTools
.local/share/code-server/*
.local/share/CMakeTools/log.txt
.local/share/code-server/logs/20230222T143640/exthost14/output_logging_20230224T081552/2-Git.log
.local/share/code-server/User/History/57be4aa0/entries.json
.local/share/code-server/User/workspaceStorage/-525686eb/ms-vscode.cpptools/.browse.VC.db-shm
.local/share/code-server/User/workspaceStorage/-525686eb/ms-vscode.cpptools/.browse.VC.db-wal
.local/share/code-server/User/History/57be4aa0/entries.json
.local/share/code-server/logs/20230222T143640/exthost14/exthost.log
.local/share/code-server/User/History/57be4aa0/entries.json
.local/share/code-server/User/History/57be4aa0/entries.json
.local/share/code-server/logs/20230222T143640/exthost15/output_logging_20230224T083332/1-Git.log
.local/share/code-server/logs/20230222T143640/exthost15/output_logging_20230224T083332/3-Markdown Language Server.log
.local/share/code-server/logs/*